 <div id="modal-auth" class="modal-content {% if slide %}slide-next{% endif %}" onclick="event.stopPropagation()">
     <span class="close-bg">
         <button class="btn-close" onclick="document.getElementById('auth-modal-content').innerHTML = ''">×</button>
     </span>
     <h2>Login</h2>
     <form hx-post="/auth/login-handler" hx-target="#auth-modal-content">
         <div class="input-box">
             <span class="icon"><ion-icon name="mail"></ion-icon></span>
             <input type="email" name="username" placeholder=" " required>
             <label>Email</label>
         </div>
         <div class="input-box">
             <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
             <input type="password" name="password" placeholder=" " required>
             <label>Password</label>
         </div>

         <div id="error-message" class="error-placeholder">
             {% if error %}
                 {{ error }}
                 <script>
                     (function() {
                        const errDiv = document.getElementById('error-message');
                        setTimeout(() => {
                            errDiv.classList.add('error-hidden');
                        }, 2500);

                        setTimeout(() => {
                            errDiv.innerHTML = '';
                            errDiv.classList.remove('error-hidden');
                        }, 3000);
                     })();
                 </script>
             {% elif success %}
                 <span class="success-message">{{ success }}</span>
             {% endif %}
         </div>

         <div class="remember-forgot">
            <label for="remember-me">
                <input type="checkbox" id="remember-me">
                Remember me
            </label>
            <a hx-get="/auth/forgot-password"
               hx-target="#modal-auth"
               hx-swap="outerHTML swap:300ms settle:0s"
               class="link">
                <span>Forgot Password?</span>
                <span class="spinner"></span>
            </a>
         </div>

         <button type="submit" class="btn" hx-target="#auth-modal-content">
             <span>Login</span>
             <span class="spinner"></span>
         </button>

         <div class="login-register">
             <p>Don't have an account?
                 <a hx-get="/auth/register-form"
                    hx-target="#modal-auth"
                    hx-swap="outerHTML swap:300ms settle:0s"
                    class="link">
                     <span>Register</span>
                     <span class="spinner"></span>
                 </a>
             </p>
         </div>
     </form>
 </div>
